<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="/Categoria/Cadastrar"><i class="fa fa-dashboard fa-2x"></i> Novo Livro</a>
            </li>
            <li>
                <a href="/Categoria/Consultar"><i class="fa fa-dashboard fa-3x"></i> Consultar Livro</a>
            </li>
            
            <li>
                <a href=""><i class="fa fa-table fa-3x"></i> Sair</a>
            </li>

        </ul>

    </div>

</nav>
<!-- /. NAV SIDE  -->
